---
http_interactions:
- request:
    method: post
    uri: https://api.bigpanda.io/data/events/deployments/end
    body:
      encoding: UTF-8
      string: ! '{"component":"html-editor","version":"123","timestamp":1362325841,"status":"failure","errorMessage":"Ooops","hosts":["a1.wix.com","a2.wix.com"]}'
    headers:
      Authorization:
      - Bearer my-access-token
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"response\": {\n    \"status\": \"created\",\n    \"id\": \"51337153b4a7ea843100cdfc\"\n
        \ }\n}"
  recorded_at: Sun, 03 Mar 2013 15:50:43 GMT
recorded_with: VCR 2.4.0
