---
http_interactions:
- request:
    method: post
    uri: https://api.bigpanda.io/data/events/deployments/start
    body:
      encoding: UTF-8
      string: ! '{"component":"html-editor","version":"123"}'
    headers:
      Authorization:
      - Bearer my-access-token
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"response\": {\n    \"status\": \"created\",\n    \"id\": \"513363c091ad50246f00eec9\"\n
        \ }\n}"
  recorded_at: Sun, 03 Mar 2013 14:52:47 GMT
recorded_with: VCR 2.4.0
